@media (max-width: 900px) { 
  .container {
    flex-flow: column;
  }


  .sidebar {
    width: auto;
    height: auto;
    padding: 10px;
    flex-basis: 20%;
  }

  .menu-section {
    flex: 1;
  }

  .menu-section:last-of-type {
    margin-top: 0;
  }

  .menu-section ul {
    display: flex;
  }

  section {
    flex-basis: 80%;
  }

  .only-large-devices {
    display: none;
  }

  .popup-book {
    left: 0%;
    top: -80%;
  }

  .popup-book::before {
    left: 10%;
    top: -6%;
    transform: rotate(90deg);
  }

}

@media (max-width: 480px) {
  .hide-on-small {
    display: none !important;
  }
  .only-on-small {
    display: block;
  }

  .main-header{
    flex-basis: 0;
  }

  h1 {
    font-size: 18px;
    text-align: center;
  }

  section {
    padding: 28px 65px;
  }

  .section-header {
    flex-flow: column;
  }

  .section-header h2 {
    text-align: center;
    flex-basis: unset;
  }

  .breadcrumb {
    text-align: center;
    flex-basis: unset;
  }

  .list-icons {
    flex-basis: unset;
    text-align: center;
  }

  .list-icons a {
    float: none;
  }

  .popup-book {
    left: -30%;
    top: -80%;
    padding: 10px;
    width: 150%;
  }

  .popup-book::before {
    left: 40%;
    top: -6%;
    transform: rotate(90deg);
  }
}
