@media (max-width: 900px) {
  // header {
  //   display: none;
  // }

  .main-header {
    flex-basis: 50%;
  }

  .small-devices-navbar {
    display: flex;
    flex: 1;
    background-color: $light-grey;
    justify-content: space-between;
  }

  .logo-header {
    flex-basis: unset;
  }

  #logo {
    flex: 1;
  }

  .small-devices-navbar h1 {
    flex: 2;
  }

  .small-devices-navbar .button-container {
    flex: 1;
    margin: auto;
    text-align: center;
  }

  .small-devices-navbar .navbar-toggler {
    padding: 10px;
    color: $primary-blue;
    background-color: $primary-black;
    font-size: 20px;
    border: 1px solid $primary-blue;
    border-radius: 2px;
    width: 50px;
    height: 50px;
  }

  .navbar-collapse {
    visibility: hidden;
    position: absolute;
    background-color: $primary-black;
    color: #fff;
    right: 0;
    top: 81px;
    padding: 10px;
    z-index: 5;
    border-radius: 0px 10px;
    box-shadow: 2px -3px 9px black;
  }

  .navbar-collapse ul {
    padding: 0;
  }

  .navbar-collapse .form-search {
    border-radius: 0;
  }

  .collapse-button {
    background: none;
    color: #fff;
    width: 100%;
    border: 0px;
    padding: 5px;
    margin-bottom: 1px;
  }

  .collapse-button img {
    vertical-align: middle;
  }

  .navbar-collapse li {
    text-align: center;
    padding: 10px;
  }

  .navbar-collapse a {
    color: #fff;
    text-decoration: none;
  }

  .navbar-collapse a:visited {
    color: #fff;
    text-decoration: none;
  }

  .dropdown-collapse-list {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }

  .container {
    flex-flow: column;
  }


  .sidebar {
    width: auto;
    height: auto;
    padding: 10px;
    flex-basis: 20%;
  }

  .menu-section {
    flex: 1;
  }

  .menu-section:last-of-type {
    margin-top: 0;
  }

  .menu-section ul {
    display: flex;
  }

  section {
    flex-basis: 80%;
  }

  .only-large-devices {
    display: none;
  }

  .popup-book {
    left: 0%;
    top: -80%;
  }

  .popup-book::before {
    left: 10%;
    top: -6%;
    transform: rotate(90deg);
  }

}

@media (max-width: 480px) {
  .hide-on-small {
    display: none !important;
  }
  .only-on-small {
    display: block;
  }

  .main-header{
    flex-basis: 0;
  }

  h1 {
    font-size: 18px;
    text-align: center;
  }

  section {
    padding: 28px 65px;
  }

  .section-header {
    flex-flow: column;
  }

  .section-header h2 {
    text-align: center;
    flex-basis: unset;
  }

  .breadcrumb {
    text-align: center;
    flex-basis: unset;
  }

  .list-icons {
    flex-basis: unset;
    text-align: center;
  }

  .list-icons a {
    float: none;
  }

  .popup-book {
    left: -30%;
    top: -80%;
    padding: 10px;
    width: 150%;
  }

  .popup-book::before {
    left: 40%;
    top: -6%;
    transform: rotate(90deg);
  }
}
