.nav-list-header {
  color: #FFF;
  font-weight: bold;
  font-stretch: condensed;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 0px;
}

nav {
  padding: 36px 39px;
}

.menu-section {
  &:last-of-type {
    margin-top: 54px;
  }
  
  ul {
    padding: 0;
  }
} 


.nav-list-item {
  margin-bottom: 21px;
  font-weight: normal;
  font-stretch: condensed;
  
  a {
    color: $primary-blue;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
    
    i {
      margin-right: 10px;
    }
  }
}

.active {
  color: $light-grey !important;
}

aside {
  padding: 38px 31px 38px 34px;
  font-stretch: condensed;
  color: $light-grey;
  
  h2 {
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    text-transform: uppercase;
    margin-bottom: 26px;
    margin-top: 0;
  }
  
  ol {
    padding: 0;
    font-size: 12px;
    font-weight: 300;
    
    li {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      list-style-position: inside;
      margin-bottom: 26px;
      
      a {
       color: $light-grey;
       text-overflow: ellipsis;
      }
    }
  }
}
