* {
    box-sizing: border-box;
}

.piano {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin: auto;
    justify-content: center;
    width: 80%;
}

.tecla {
    border: 1px solid black;
}
.blancas {
    display: flex;
    flex-wrap: nowrap;
}

.blanca {
    height: 400px;
    width: 80px;
    background-color: #f5f5f5;
}

.negras {
    position: absolute;
    display: flex;
    width: 1120px;
}

.negra {
    height: 250px;
    width: 50px;
    background-color: black;
    z-index: 2;
}

.dosost {
    margin-left: 56px;
}

.resost, .solsost, .lasost {
    margin-left: 30px;
}

.fasost{
    margin-left: 110px;
}

#key-dossost{
    margin-left: 108px;
}

