@font-face {
  font-family: 'PlutoSans';
  font-weight: bolder;
  src: url('../fonts/fonts_pluto_sans/OpenTypeOTF/PlutoSansBlack.otf');
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: 800;
  src: url('../fonts/fonts_pluto_sans/OpenTypeOTF/PlutoSansHeavy.otf');
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: bold;
  src: url('../fonts/fonts_pluto_sans/OpenTypeOTF/PlutoSansBold.otf');
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: 500;
  src: url('../fonts/fonts_pluto_sans/OpenTypeOTF/PlutoSansMedium.otf');
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: normal;
  src: url('../fonts/fonts_pluto_sans/OpenTypeOTF/PlutoSansRegular.otf');
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: 300;
  src: url('../fonts/fonts_pluto_sans/OpenTypeOTF/PlutoSansLight.otf');
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: 200;
  src: url('../fonts/fonts_pluto_sans/OpenTypeOTF/PlutoSansExtraLight.otf');
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: lighter;
  src: url('../fonts/fonts_pluto_sans/OpenTypeOTF/PlutoSansThin.otf');
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: bolder;
  font-stretch: condensed;
  src: url('../fonts/fonts_pluto_sans/OpenTypeOTF/PlutoSansCondBlack.otf');
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: 800;
  font-stretch: condensed;
  src: url('../fonts/fonts_pluto_sans/OpenTypeOTF/PlutoSansCondHeavy.otf');
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: bold;
  font-stretch: condensed;
  src: url('../fonts/fonts_pluto_sans/OpenTypeOTF/PlutoSansCondBold.otf');
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: 500;
  font-stretch: condensed;
  src: url('../fonts/fonts_pluto_sans/OpenTypeOTF/PlutoSansCondMedium.otf');
}

@font-face {
  font-family: 'PlutoSans';
  font-stretch: condensed;
  font-weight: normal;
  src: url('../fonts/fonts_pluto_sans/OpenTypeOTF/PlutoSansCondRegular.otf');
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: 300;
  font-stretch: condensed;
  src: url('../fonts/fonts_pluto_sans/OpenTypeOTF/PlutoSansCondLight.otf');
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: 200;
  font-stretch: condensed;
  src: url('../fonts/fonts_pluto_sans/OpenTypeOTF/PlutoSansCondExLight.otf');
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: lighter;
  font-stretch: condensed;
  src: url('../fonts/fonts_pluto_sans/OpenTypeOTF/PlutoSansCondThin.otf');
}
