header {
  background-color: #fcf8f3;
  display: flex;
  height: 80px;
  border-bottom: 1px solid #6ec1e4;
}

.logo-header {
  flex-basis: 14.8%;
  background: #FFF;
}

#logo {
  width: 100%;
}

.main-header {
  flex-basis: 70%;
  display: flex;
  padding-left: 23px;
  padding-right: 18px;
  justify-content: space-between;
  align-items: center;
}

.main-header h1 {
  font-size: 24px;
  font-stretch: normal;
  line-height: 32px;
  font-weight: 500;
}

.form-search {
  width: 299px;
  height: 36px;
  border: 0.5px solid #6ec1e4;
  background: rgba(245, 246, 248, 0.51);
  border-radius: 50px;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

.form-search i {
  margin: 10px 5px 0 10px;
  font-size: 18px;
}

input[type='search'] {
  border: 0px;
  background-color: transparent;
}

input[type='search']::placeholder {
  opacity: 1;
  color: #000;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.profile-header {
  flex-basis: 15%;
}

.dropdown-menu {
  width: 100%;
  margin: 10px 5px;
  display: flex;
  justify-content: space-around;
  border-left: 1px solid #979797;
}

.dropdown-button {
  background-color: transparent;
  border: 0;
  font-stretch: condensed;
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
}

.dropdown-list {
  display: none;
  position: absolute;
  background-color: #fcf8f3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-list ul {
  margin: 0;
  padding: 0;
}

.dropdown-list a {
  color: black;
  text-decoration: none;
}

img.jakob {
  width: 36px;
  height: 36px;
  border: 2px solid #6ec1e4;
  border-radius: 20px;
  margin: 10px 16px 10px 10px;

  /* display: inline-block; */
}

ul li {
  list-style: none;
}

ol li a {
  text-decoration: none;
}

ol li a:hover {
  text-decoration: underline;
}

ol li a:visited {
  text-decoration: none;
}
