.nav-list-header {
  color: #FFF;
  font-weight: bold;
  font-stretch: condensed;
  font-size: 13px;
  text-transform: uppercase;
}

.menu-section {
  margin-top: 36px;
  margin-left: 39px;
}

.menu-section:last-of-type {
  margin-top: 54px;
}

.menu-section ul {
  padding: 0;
}

.nav-list-item {
  margin-bottom: 21px;
  font-weight: normal;
  font-stretch: condensed;
}

.nav-list-item a {
  color: #6ec1e4;
  text-decoration: none;
}

.nav-list-item a:hover {
  text-decoration: underline;
}

.nav-list-item a i {
  margin-right: 10px;
}

.active {
  color: #fcf8f3 !important;
}

aside {
  padding: 38px 34px;
  font-stretch: condensed;
  color: #fcf8f3;
}

aside h2 {
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 26px;
  margin-top: 0;
}

aside ol {
  padding: 0;
  font-size: 12px;
  font-weight: 300;
}

aside li {
  text-overflow: ellipsis;
  width: 177px;
  overflow: hidden;
  white-space: nowrap;
  list-style-position: inside;
  margin-bottom: 26px;
}

aside a {
  color: #fcf8f3;
  text-overflow: ellipsis;
}
