.form-container {
    background-color: $tooltip-background;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    position: absolute;
    left: calc(50vw - 150px);
    top: 20%;
    min-height: 350px;
    width: 300px;
    color: $white;
    padding: 10px;
    border-radius: 20px;

    @include tablet {
        width: 80vw;
        left: calc(50vw - 40vw);
    }

    @include phone {
        width: 100%;
        left: unset;
    }

    .login-logo {
        width: 240px;
        margin: 5px auto;
        display: block;
    }
    
    .login-title {
        text-align: center
    }
    
    .alert {
        border-radius: 30px;
        background: $alert;
        width: 90%;
        display: block;
        margin: 5px auto;

        p {
            text-align: center;
            margin: 5px;
        }
    }

    .login-form {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        text-align: center;
        align-content: middle;
        width: 100%;
        
        input {
            background: none;
            border: none;
            border-bottom: 1px solid $white;
            color: $white;
            height: 30px;
            width: 80%;
            font-size: 18px;
            margin-left: 5px;
            margin-bottom: 10px;
            
            &::placeholder {
                color: $white;
            }
            
            &:focus {
                outline: none;
            }
        }
        
        button {
            border: 2px solid $primary-blue;
            border-radius: 5px;
            background: none;
            font-size: 18px;
            width: 100px;
            margin: auto;
            height: 30px;
            transition-duration: 0.3s;
            color: $primary-blue;
            
            &:hover {
                background: $white;
                color: $black;
            }
        }
    }
}
