section {
  
  .section-header {
    display: flex;
    margin-bottom: 27px;
    justify-content: space-between;
    
    h2 {
      color: $primary-black;
      font-weight: 300;
      font-stretch: condensed;
      font-size: 20px;
      margin: 0;
      flex-basis: 50%;
    }

    @include phone {
      flex-flow: column;

      h2 {
        text-align: center;
        flex-basis: unset;
      }

      .list-icons {
        flex-basis: unset;
        text-align: center;

        a {
          float: none;
        }
      }
    }
  }
  
  .list-icons {
    flex-basis: 50%;
    
    a {
      color: $primary-blue;
      font-size: 18.5px;
      margin-left: 10px;
      float: right;
      clear: left;
    }
  }
  
  .book-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .book {
      flex-basis: 18%;
      width: 176px;
      height: 366px;
      position: relative;

      .book-main-image {
        width: 176px;
        height: 250px;
      }

      .in-use {
        position: absolute;
        top: 9%;
        right: -7px;
        display: none;

        img {
          position: relative;
        }

        svg {
          position: absolute;
          top: 5px;
          left: 40%;
          color: $white;
        }
      }
      
      .book-description {
        width: 176px;
        white-space: nowrap;
        
        .book-title {
          color: $book-title;
          font-stretch: condensed;
          font-weight: 500;
          font-size: 15px;
          line-height: 20px;
          text-overflow: ellipsis;
          text-transform: capitalize;
          overflow: hidden;
          margin: 0;
        }
        
        .book-author {
          color: $secondary-grey;
          font-stretch: condensed;
          font-weight: 300;
          display: block;
          overflow: hidden;
        }

        .book-location {
          color: $black;
          font-stretch: condensed;
          font-weight: 500;
          font-size: 14px;
          display: block;
        }
        
        svg {
          color: $primary-blue;
          font-size: 12.5px;
        }
      }
      
      .popup-container {
        position: absolute;
        top: 0%;
  
        .book-hover {
          width: 176px;
          height: 250px;
          background: $tooltip-background;
          position: relative;
          margin: 0;
          padding: 15px;
          
          .main-icon-container {
              color: $primary-blue;
              background: $white;
              width: 48px;
              height: 48px;
              z-index: 1;
              position: relative;
              border-radius: 25px;
              padding: 15px;
              clear: both;
              margin: auto;
              margin-top: 85px;
          }
      
          .book-rate {
            text-transform: uppercase;
            color: $light-grey;
            font-stretch: condensed;
            font-weight: 500;
            font-size: 11px;
            margin-top: 57px;
            text-align: center;
          }
      
          .hover-rate {
            color: $yellow-star;
            font-size: 12.5px;
            text-align: center;
          }
        }
  
        .popup-book{        
          width: 382px;
          height: 358px;
          background: $tooltip-background;
          color: $primary-grey;
          font-weight: bold;
          font-stretch: condensed;
          font-size: 12px;
          line-height: 16px;
          padding: 30px;
          position: absolute;
          z-index: 5;
          left: 113%;
          top: 0%;
          border-radius: 5px;
          
          &::before {
            content: '';
            border-style: solid;
            border-width: 15px 15px 15px 0px;
            border-color: transparent
                    $tooltip-background
                    transparent
                    transparent;
          
            position: absolute;
            left: -13px;
            top: 31%;
          }
    
          .pupup-section-container {
            margin-bottom: 20px;
            
            .popup-title {
              color: $secondary-blue;
              font-size: 13px;
              margin: 0;
              line-height: 17px;
              text-align: left;
              text-transform: uppercase;
              display: inline block !important;
              
              .popup-book-year {
                color: $primary-grey;
                font-stretch: condensed;
                font-weight: normal;
                font-size: 13px;
                float: right;
              }
            }
            
            p {
              color: $white;
              font-stretch: condensed;
              font-weight: normal;
              font-size: 13px;
              line-height: 17px;
              margin: 1px;
              
              .popup-author {
                color: $primary-grey;
              }
            }
  
            .popup-section-title {
              text-transform: uppercase;
              margin: 0px;
            }
  
            .pupup-summary-text {
              width: 98%;
              height: 80px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            
            svg {
              color: $secondary-blue;
            }
  
            button.borrow-book {
              background-color: $secondary-blue;
              border-radius: 15px;
              padding: 10px;
              text-transform: uppercase;
              color: $white;
            }
  
          }
  
          @include tablet {
            left: 0;
            top: 115%;
    
            &::before {
              left: 10%;
              top: -6%;
              transform: rotate(90deg);
            }
          }
  
          @include phone {
            left: -20%;
            top: 115%;
            padding: 10px;
            width: 150%;
  
            &::before {
              left: 40%;
              top: -6%;
              transform: rotate(90deg);
            }
          }
        }
      }
      
      @include getLastChild() {
        .popup-book {
          left: -228%;
    
          &::before {
            transform: rotate(180deg);
            left: 380px;
          }
        }
      }

      @include getMidLastChild() {
        .popup-book {
          left: -228%;
    
          &::before {
            transform: rotate(180deg);
            left: 380px;
          }
        }
      }

    }

    .pagination-container {
      display: flex;
      width: 100%;
      margin: auto;
      justify-content: center;

      a {
        text-decoration: none;
        width: 30px;
        height: 30px;
        border: 1px solid $primary-blue;
        background: $primary-black;
        color: $primary-blue;
        text-align: center;
        padding: 5px;
      }
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.show {
  visibility: visible !important;
}